{include file="common@header" /}
<body class="login-bg">

    <div class="login layui-anim layui-anim-up">
        <div class="message">企业网站后台管理系统</div>
        <div id="darkbannerwrap"></div>

        <form method="post" class="layui-form" >
            <input name="email" placeholder="邮箱"  type="email" lay-verify="required" class="layui-input" id="L_email" autofocus="">
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input" id="L_pass">
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;

              //监听提交
              form.on('submit(login)', function(data){

                //将登录信息提交到服务器上验证
                $.post("{:url('user/doLogin')}",{
                 'email': $('#L_email').val(),
                 'password': $('#L_pass').val()
                },function(data){
                  //如果验证成功,跳转到后台首页
                  if (data.status == 1) {
                    layer.msg(data.msg,function(){
                    location.href='{:url("index/index")}'
                })
                }

                //验证失败,跳转到登录页
                layer.msg(data.msg,function(){
                    location.href='{:url("user/login")}'
                })

                },'json')


                return false;
              });
            });
        })


    </script>


    <!-- 底部结束 -->

</body>
</html>