{include file="common@header" /}
  
  <body>
    <div class="x-body">
        <form class="layui-form">
          <div class="layui-form-item">
              <label for="art_title" class="layui-form-label">
                  <span class="x-red">*</span>文档标题
              </label>
              <div class="layui-input-block">
                  <input type="text" id="art_title" name="art_title" required="" lay-verify="required"
                  autocomplete="off" class="layui-input" value="{$art.art_title}">
              </div>
          </div>
          
          <div class="layui-form-item">
              <label for="phone" class="layui-form-label">
                  <span class="x-red">*</span>文档内容
              </label>
              {//使用富文本编辑器添加内容}
              <div class="layui-input-block" id="editor" > 
                             
              </div>
          </div>

          <div class="layui-form-item">
              <label for="username" class="layui-form-label">
                  所属分类
              </label>
              <div class="layui-input-inline">
                  <select name="cate_id" lay-verify="" id="cate_id">
                    {volist name=":model('category')->select()" id="cate"}
                    <option value="{$cate.cate_id}"

                    {eq name='cate.cate_id' value='$art.cate_id'} 
                      selected
                    {/eq} 


                    >{$cate.cate_name}</option>
                    {/volist}
                  </select>
              </div>
          </div>

          <div class="layui-form-item">
              <label for="art_order" class="layui-form-label">
                  文档排序
              </label>
              <div class="layui-input-inline">
                  <input type="text" id="art_order" name="art_order" required="" lay-verify="required"
                  autocomplete="off" class="layui-input"  value="{$art.art_order}">
              </div>
          </div>
          
          
          
         
          <div class="layui-form-item layui-form-text">
              <label for="art_rec" class="layui-form-label">
                  是否推荐
              </label>
              <div class="layui-input-block">
                  <input type="radio" name="art_rec" value="1" title="推荐">
                  <input type="radio" name="art_rec" value="0" title="普通" checked>
              </div>
          </div>
          <div class="layui-form-item">
              <label for="L_repass" class="layui-form-label">
              </label>
              <button  class="layui-btn" lay-filter="add" lay-submit="">
                  保存
              </button>
          </div>
      </form>
    </div>
    <script type="text/javascript" src="/static/admin/js/wangEditor.min.js"></script>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
            var form = layui.form, layer = layui.layer;



            //配置wangEditor富文本编辑器
            //将要用到的对象添加到全局
            var E = window.wangEditor 

            //生成editor对象 
            var editor = new E('#editor') 

            //设置图片上传的控件名称:类似于input的name属性,供接口获取图片信息使用
            editor.customConfig.uploadFileName = 'img'

            //设置服务上的图片上传处理接口脚本
            editor.customConfig.uploadImgServer = '{:url("upload")}'



            //创建出富文件编辑器
            editor.create()

            //将当前文档的内容添加到编辑器,并将html代码进行反解析
            editor.txt.html('{:htmlspecialchars_decode($art.art_content)}')
            
        
          

           //监听提交
           form.on('submit(add)', function(data){
            console.log(data);

            //发异步，把数据提交给php
            $.post("{:url('doEdit')}",{
              'art_title': $('#art_title').val(),
              'art_content' : editor.txt.html(),
              'cate_id' : $('#cate_id').val(),
              'art_order': $('#art_order').val(),
              'art_rec' : $('input[name="art_rec"]:checked').val(),

              //art_id做为更新条件,也要发送到服务器端
              'art_id': {$art.art_id}

            }, function(data){
              if (data.status == 1) {
                layer.alert(data.msg, {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
            });
              } else {
                layer.alert("更新失败", {icon: 6},function () {
                // 获得frame索引
                var index = parent.layer.getFrameIndex(window.name);
                //关闭当前frame
                parent.layer.close(index);
              });
              }
            })            
            return false;
          });         
          
        });
    </script>


  </body>

</html>